.pokedex {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.top-bar, .bottom-bar {
  flex: 1;
  background-color: #c40c24;
  border: 1px solid #52181c;
  height: 210px;
}

.top-bar {
  border-radius: 10px 10px 0 0;
  border-bottom: 5px solid black;
}

.bottom-bar {
  border-radius: 0 0 10px 10px;
  border-top: 5px solid black;
}

.visor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0f5fe94;
  border-right: 5px solid white;
  border-left: 5px solid white;
  position: relative;
}

.visor__action-button {
    background-color: white;
    border: 1px solid #b4e5ec;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
    outline: none;
}